.profile__data {
  display: grid;
  margin-left: 30px;
  column-gap: 18px;
  grid-template-columns: fit-content(546px) min-content;;
  align-items: end;
}

@media screen and (max-width: 767px) {
  .profile__data {
    display: block;
    margin-left: 0;
    margin-top: 26px;
    width: 100%;
    position: relative;
  }
}
