.profile__button_func_add-image {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  transition: opacity .2s linear;
  opacity: 1;
}

.profile__button_func_add-image:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__button_func_add-image {
    width: 100%;
    height: 50px;
    margin-top: 36px;
  }
}