.popup__close-button {
  border: none;
  cursor: pointer;
  background: transparent url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;  
  position: absolute;
  right: -40px;
  top: -40px;
  transition: opacity .2s linear;
  opacity: 1;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    height: 20px;
    width: 20px;
    right: 0;
    top: -36px;
  }
}